@{
    ViewData["Title"] = "Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>


<div class="container text-center col-md-4">
    <img src="img/JoelHiltonHeadshot.jpg" class="rounded img-fluid" />
</div>

<br />

<div class="container text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="NewMovie">Add New Movie</a>
</div>