@{
    ViewData["Title"] = "Podcasts";
}

<div class="container text-center">
    <h1 class="display-4">My Podcasts</h1>
</div>

<br />

<div class="container text-center">
    <a class="btn btn-primary" href="https://baconsale.com" target="_blank">Baconsale Podcast</a>
</div>